*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .admin-page-container{
    width: 100vw;
    height: 100vh;
    background-color: #6D9AC4;
} */

.header{
    text-align: center;
}

.container{
    height: 70vh;
    overflow-y: auto;
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.poll-options{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.add-poll{
    width: 40%;
    background-color: red;
    margin: auto;
}

.add-poll-input{
    width: 100%;
    
}

.admin-btns{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}
