*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.addPolls-container{
    width: 100vw;
    height: 100vh;
    background-color: #6D9AC4;
    padding-top: 100px;
}

.addPolls-box1{
    width: 30%;
    margin: auto;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
}

.addPolls-input{
    width: 100%;
    margin-bottom: 10px;
}

@media (max-width : 1000px) {
    .addPolls-box1{
        width: 60%;
    }
}