*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent{
    width: 100vw;
    height: 100vh;
    background-color: #A0B5C6;
    padding-top: 100px;
}

.signup-container{
    width: 40%;
    background-color: white;
    margin: auto;
    padding: 35px;
}

.signup-input{
    width: 100%;
    padding: 10px;
    border: 2px solid #E62425;
}

.dropdown{
    width: 30%;
    padding: 10px;
}

.btn{
    background-color: #E62425;
    color: white;
    width: 20%;
    cursor: pointer;
    margin: 10px;
}

.form-error{
    color: red;
}

.home-parent{
    width: 100vh;
    height: auto;
    background-color: lightblue;
}

.home-page-container{
    width: 90vw;
    margin: auto;
    height: auto;
    background-color: lightcoral;
    text-align: center;
}

@media (max-width : 1000px) {
    .signup-container{
        width: 70%;
    }
}